body {
    font-family: "Raleway", sans-serif;
    background-image: url(/Img/imbg.jpg);
    background-size: 100% 240%;
    background-repeat: no-repeat;
}

input{
    color: rgb(0, 0, 0);
    background-color: bisque;
    border-radius: 10ex;
    border-style: dotted;
    padding: 0.8vh;

}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    font-size: small;
    padding: 40px 10px 10px 10px;
}